@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Flower Shop!</h1>
    <img src ="https://cdn11.bigcommerce.com/s-1pu3v7awq8/images/stencil/500x659/products/774/1112/95180lx__01192.1548803968.jpg?c=2&imbypass=on">
    <p>

                <p>On this website, you may:</p>

                   <p>Add a customer</p>
                   <p>See the inventory of a flower shop</p>
                   <p>Place an order for a flower of your choice</p>
                   <p>See the flowers we sell</p>
                   <p>View our Flower Shop locations</p>


    </p>
</div>
