@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Flower Shop!</h1>
    <p>
        <ul>
            <li>
                On this website, you may:
                <ul>
                   <li>Add a customer</li>
                   <li>See the inventory of a flower shop</li>
                   <li>Place an order for a flower of your choice</li>
                   <li>See the flowers we sell</li>
                   <li>View our Flower Shop locations</li>
                </ul>
             </li>
        </ul>
    </p>
</div>
