@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Flower Shop!</h1>
    <p>On this website, you may:
        - Add a customer
        - See the inventory of a flower shop
        - Place an order for a flower of your choice
        - See the flowers we sell
        - View our Flower Shop locations

    </p>
</div>
